*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsl(27, 66%, 92%);
}

.main-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-div{
    width: 35%;
    min-width: 350px;
}

.chart-top-div{
    background-color: hsl(10, 79%, 65%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border-radius: 1.5em;
    color: white;
}

.circle-div{
    display: flex;
}

.circle-one{
    height: 2.2em;
    width: 2.2em;
    border: 2px solid white;
    border-radius: 50%;
    transform: translateX(50%);
}

.circle-two{
    height: 2.2em;
    width: 2.2em;
    border-radius: 50%;
    background-color: hsl(25, 47%, 15%);
}

.chart-main-div{
    background-color: white;
    padding: 2em;
    border-radius: 1.5em;
    margin-top: 1.5em;
    color: hsl(25, 47%, 15%);
}

.chart{
    display: flex;
    gap: 1em;
    height: 150px;
    margin-top: 3em;
    align-items: flex-end;
}

.bar-div{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bar{
    background-color: hsl(10, 79%, 65%);
    border-radius: 0.4em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.bar:hover{
    opacity: 0.6;
}

.bar-text{
    position: absolute;
    transform: translateY(32px);
    font-size: 0.8em;
}

.bar-details{
    position: absolute;
    display: none;
    top: 0;
    transform: translateY(-40px);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px
}

.line-break{
    width: 100%;
    height: 2px;
    background-color: hsl(27, 66%, 92%);
    margin-top: 3.5em;
    margin-bottom: 1.5em;
}

.summary-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width : 1250px) {
    .chart{
        gap: 0.6em;
    }

    .bar{
        border-radius: 0.2em;
    }

    .bar-details{
        font-size: 0.7em;
        transform: translateY(-30px);
        padding: 4px 4px;
    }
}